@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #0b1727;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 30px;
}

.search .input {
  background-color: #323c48;
  color: #d8e2ef;
  border: 0;
  font-size: 18px;
  padding: 15px;
  width: 50px;
  height: 50px;
  transition: width 0.3s ease;
  border-radius: 25px;
}

.btn {
  background-color: #323c48;
;
  border: 0;
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  color: #2c7be5;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  border-radius:50%;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 500px;
}
